.users {
    min-height: 100vh;
    background: linear-gradient(rgba(191, 155, 1905,0.5), rgba(191, 155, 190,0.5)), url('../../images/pic2.jpg') center/cover no-repeat fixed;
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    font-family: 'Electrolize', sans-serif;
  }

  .user-head {
      display: inline;
      /* justify-content: center; */
      text-align: center;
  }

  .user {  
    margin-top: 100px;
    background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
    padding: 30px 80px;
    border-radius: 50px; 
  }

  .users-img {
    border-radius: 90px;
    height: 100px;
    width: 100px;
  }

  .users-list {
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    /* row-gap: 50px; */
    column-gap: 230px;
  }

  .users-container {
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,1fr);
    row-gap: 30px;
    /* column-gap: 30px; */
  }

  .user-detail {
    font-size: 10px;
    font-weight: bold;
    width: 100px;
  }

  .connect {
    background: white;
    border-radius: 15px;
    font-size: 16px;
    padding: 5px 10px;
    transition: all ease-in 0.5s;
  }

  .connect:hover {
    background: #3F0071;
    color: white;
    cursor: pointer;
  }

  @media screen and (max-width: 960px) {
    .users-list {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr;
      row-gap: 10px;
      column-gap: 10px;
    }
  }